.row
  .col-lg-3
    = render "step_by_step"
  .col-lg-9
    %h3 車の情報を入力
    = form_for @car, role: "form" do |f|
      .form-group
        = f.label :description
        = f.text_area :description, class: "span6", rows: 10
      .form-group
        = f.label :price
        = f.number_field :price, class: "input-mini"
        %span.add-on 万円
      .form-hidden
        = f.hidden_field :user_id, value: current_user.id

      .form-group
        = f.submit "登録", class: "btn btn-primary btn-lg"
